@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cyberpunk;
}



:root{
  scroll-behavior: smooth;

}

html, body {
  background-color: white !important;
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  position: relative;
}

.custom-curve::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: white; /* Or whatever the next section's bg is */
  clip-path: ellipse(100% 100% at 50% 100%);
}


